@model Incident
@{
    string title = ViewBag.Action + " Incident";
    ViewBag.Title = title;
}


<h1>@title</h1>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="CustomerId">Customer</label>
        <select asp-for="CustomerId" class="form-control">
            <option value="@Model.CustomerId">Select Customer</option>
            @foreach (Customer cus in ViewBag.Customers)
            {
                <option value="@cus.CustomerId">@cus.FirstName + @cus.LastName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="ProductId">Product</label>
        <select asp-for="ProductId" class="form-control">
            <option value="">Select Product</option>
            @foreach (Product prod in ViewBag.Products)
            {
                <option value="@prod.ProductId">@prod.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" multiple class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="TechnicianId">Title</label>
        <select asp-for="TechnicianId" class="form-control">
            <option value="">Select Technician</option>
            @foreach (Technician tec in ViewBag.Technicians)
            {
                <option value="@tec.TechnicianId">@tec.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input class="form-group" asp-for="DateOpened" />@DateTime.Now
    </div>
    <div class="form-group">
        <input class="form-group" asp-for="DateClosed" />
    </div>
    <input type ="hidden" asp-for="IncidentId"/>

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Incident" asp-action="Index" class="btn btn-danger">Cancel</a>



</form>