@model IEnumerable<Incident>
@{
    ViewBag.Title = "Incidents";
}


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Customer</th>
            <th scope="col">Product</th>
            <th scope="col">Date Opened</th>
            <th scope="col">Date Closed</th>
            <th scope="col">EDIT</th>
            <th scope="col">DELETE</th>
            <th scope="col">DETAILS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var incident in Model)
        {
        <tr>
            <td scope="row">@incident.Title</td>
            <td>@incident.Customer.FirstName</td>
            <td>@incident.Product.Name</td>
            <td>@incident.DateOpened </td>
            <td>@incident.DateClosed </td>
            <td>
                <a asp-controller="Incident" asp-action="Edit" asp-route-id="@incident.IncidentId">Edit</a>
            </td>
            <td>
                <a asp-controller="Incident" asp-action="Delete" asp-route-id="@incident.IncidentId">Delete</a>
            </td>
            <td>
                <a asp-controller="Incident" asp-action="Details" asp-route-id="@incident.IncidentId">Details</a>
            </td>
        </tr>
        }

    </tbody>


</table>

<a asp-controller="Incident" asp-action="Add" class="btn btn-primary">Add Incident</a>