@model IncidentViewModel
@{
    string title = ViewBag.Action + " Incident";
    ViewBag.Title = title;
}


<div class="container my-3">
    <form class="box-shadow bg-light rounded p-4" asp-action="UpdateIncident" method="post">
        <h1>@title</h1>
        <div asp-validation-summary="All"></div>

        <div class="form-group">
            <label asp-for="CurrentIncident.CustomerId" class="font-weight-bold">Customer: </label>
            <input type="hidden" asp-for="CurrentIncident.CustomerId" class="font-weight-bold">
            <label asp-for="CurrentIncident.Customer.FirstName">@Model.CurrentIncident.Customer.FirstName</label>
        </div>
        <div class="form-group">
            <label asp-for="CurrentIncident.ProductId" class="font-weight-bold">Product: </label>
            <input type="hidden" asp-for="CurrentIncident.ProductId" class="font-weight-bold">
            <label asp-for="CurrentIncident.ProductId">@Model.CurrentIncident.Product.Name</label>
        </div>
        <div class="form-group">
            <label asp-for="CurrentIncident.Title" class="font-weight-bold">Title:</label>
            <input type="hidden" asp-for="CurrentIncident.Title" class="font-weight-bold">
            <label asp-for="CurrentIncident.Title" >@Model.CurrentIncident.Title</label>
        </div>
        <div class="form-group">
            <label asp-for="CurrentIncident.Description" class="font-weight-bold">Description</label>
            <input asp-for="CurrentIncident.Description" class="form-control" placeholder="Please Enter a Description">
        </div>
        <div class="form-group">
            <label asp-for="CurrentIncident.TechnicianId" class="font-weight-bold">Technician:</label>
            <input type="hidden" asp-for="CurrentIncident.TechnicianId" class="font-weight-bold">
            <label asp-for="CurrentIncident.TechnicianId" >@Model.CurrentIncident.Technician.Name</label>
        </div>
        <div class="form-group">
            <label asp-for="CurrentIncident.DateOpened" class="font-weight-bold">Date Opened:</label>
            <input type="hidden" asp-for="CurrentIncident.DateOpened" class="font-weight-bold">
            <label asp-for="CurrentIncident.DateOpened" >@Model.CurrentIncident.DateOpened</label>
            <p>Current Date: @DateTime.Now</p>
        </div>
        <div class="form-group">
            <label asp-for="CurrentIncident.DateClosed" class="font-weight-bold">Date Closed</label>
            <input class="form-control" asp-for="CurrentIncident.DateClosed" />
        </div>
        <input type="hidden" asp-for="CurrentIncident.IncidentId" />

        <button type="submit" asp-action="@Model.Action" class="btn btn-success">Save</button>
        <button type="submit" asp-action="Cancel" class="btn btn-danger">Cancel</button>
    </form>
</div>